* {
letter-spacing: 0.3px;
margin:0px;
padding:0px;
}

.carousel{
  height: 200px;
  width: 80%;
}

.simplescrollup__button {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	transition: 1s all;
	z-index: 10000;
}
.simplescrollup__button--show {
	transform: translateX(0px);
}
.simplescrollup__button--hide {
	transform: translateX(500px);
}

.toggle{
transition: all .5s;
width: 100%;
padding: 10px 20px;
background: #151212;
text-align: right;
box-sizing: border-box;
color: darkgrey;
font-size: 30px;
display: none;
}

nav{
width: 100%;
background: #141414;
}

ul{
list-style: none;
}

li{
position: relative;
display: inline-block;
}

li > a{
display: block;
padding: 15px 20px;
color: white;
font-family: 'Open sans';
text-decoration: none;
}

li a:hover{
color: white;
transition: all .3s;
background: #052047;
}

 																				 /* Submenu*/

.submenu{
position: absolute;
background: #333333;
width: 100%;
visibility: hidden;
opacity: 0;
transition: opacity 1.5s;
}

.submenu li a{
display: block;
padding: 15px;
color: #fff;
font-family: 'Open sans';
text-decoration: none;
}


li:hover .submenu{
visibility: visible;
opacity: 1;
}
                                            /* menu*/

.logo{
  width: 120px;
  height: 120px;
}

body{
background-image: url("../imgs/bg.png");
background-size: 110%;
overflow: scroll;
}

h1.tr{
height: 1%;
}

.ttl{
background-image: linear-gradient(to right, darkgrey, #052047, #052047,#052047, #052047);
font-family: Times New Roman;
font-weight: 700;
letter-spacing: 1.5px;
height: 65px;
}

.tlo{
line-height: 6px;
float: right;
margin-right: 16%;
margin-top: 35px;
font-size:35px;
color:#AEAEAE;
}
	.top{
	background-image: linear-gradient(to right, darkgrey, #052047, #052047,#052047, #052047);
	margin-left:3%;
	margin-right:3%;
	background-color: white;
	height:50px;
	margin-bottom: 1%;
	}

.au{
background: rgba(255, 255, 255, 0.8);
width:70%;
height:910px;
padding: 10px;
margin-top: 10px;
margin-bottom: 20px;
margin-right: 15%;
font-family: Verdana;
font-weight: 600;
float: right;
border:  #052047 3px solid;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
}

.qs{
padding-top: 19px;
height: 80px;
margin-bottom: 20px;
border-radius: 5px;
border:  #052047 3px solid;
color: white;
background-color: #151212;
}

.fut{
  border: black 3px solid;
  height: 60px;
  width: 73%;
  border-radius:  7px;
  font-weight: 700;
  background-color: #333333;
  line-height: 50px
  }


.foot{
  font-size: 15px;
  line-height:20px;
  display: block;
  color:white;
  clear:both;
  margin-top: 40px;
  background-image: linear-gradient(#141414, #141414, #141414, #141414, black);
  height: 270px;
  margin-bottom: 0px;
}

.rs{
  width:40px;
  height: 12%;
}
                                                             @media (max-width:768px)
{   

.au{
width:100%;
height:950px;
margin-top: 0px;
margin-right: 0px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}

.ic{
  width: 100px;
  height: 100px;
}

  .rs{
    width: 40px;
    height: 12%;
  }
  
  .flt{
display: none;
  }
  
.logo{
  width: 110px;
}

.toggle
{
display: block;
}

ul{
  display: none;
}

ul li{
  display: block;
  text-align: center;
}

.active{
  display: block;
}
.ttl{
  letter-spacing: 1px;
  height: 85px;
  font-size: 9px;  
}
.tlo{
  line-height: 30px;
  margin-top: 35px;
  font-size:25px;
  }

.cen{
  font-size: 11px;
}

.foot{
  font-size: 15px;
  line-height:23px;
  display: block;
  color:white;
  clear:both;
  margin-top: 42.5%;
  background-image: linear-gradient(#141414, #141414, #141414, #141414, black);
  height: 320px;
  margin-bottom: 0px;
}

.fut{
  border: black 3px solid;
  height: 100px;
  width: 73%;
  border-radius:  7px;
  font-weight: 700;
  background-color: #333333;
  line-height: 50px
  }
}

@media (max-width:520px)
{
.au{
  height: 1100px;
}
}